{% load static %}
<nav class="flex items-center justify-between px-10 py-4 max-w-7xl mx-auto relative">
  <!-- Logo -->
  <div class="flex items-center space-x-2">
    <img alt="logo" class="w-50 h-10" src="{%static 'Logo.png' %}" width="90" height="80"/>
  </div>

  <!-- Toggle Button for Mobile -->
  <div class="md:hidden">
    <button id="nav-toggle" class="text-blue-600 focus:outline-none text-3xl">
      &#9776; <!-- Hamburger Icon -->
    </button>
  </div>

  <!-- Navigation Links -->
  <ul id="nav-links" class="hidden flex-col md:flex md:flex-row md:space-x-20 text-m text-gray-1200 font-normal absolute md:static top-full left-0 w-full bg-white md:bg-transparent px-10 py-4 md:p-0 z-50">
    <li><a class="text-blue-600 font-semibold" href="{% url 'home' %}">Home</a></li>
    <li><a class="hover:text-blue-600 transition" href="{% url 'about' %}">About Us</a></li>
    <li><a class="hover:text-blue-600 transition" href="#Specialities">Specialities</a></li>
    <li><a class="hover:text-blue-600 transition" href="/#Media">Media Coverage</a></li>
`    <li><a class="hover:text-blue-600 transition" href="#Contact">Contact Us</a></li>
  </ul>

  <!-- Book Appointment Button -->
  <button class="hidden md:inline-block bg-blue-600 text-white text-s font-semibold px-4 py-2 rounded hover:bg-blue-900 transition" type="button">
    Book Appointment
  </button>
</nav>