
   <div class="scrollmenu">
        <a class = "hover:text-blue-600 transition zoom-in" href="{% url 'brain' %}">Brain Tumors</a>
        <a class = "hover:text-blue-600 transition zoom-in" href="{% url 'head' %}">Head & Neck Cancer</a>
        <a class = "hover:text-blue-600 transition zoom-in" href="{% url 'lung' %}">Lung Cancer</a>
        <a class = "hover:text-blue-600 transition zoom-in" href="{% url 'esophagus' %}"> Esophagus Cancer</a>
        <a class = "hover:text-blue-600 transition zoom-in" href="{% url 'breast' %}"> Breast Cancer</a>
        <a class = "hover:text-blue-600 transition zoom-in" href="{% url 'stomach' %}"> Stomach Cancer</a>
        <a class = "hover:text-blue-600 transition zoom-in" href="{% url 'pancreas' %}">Pancreas Cancer</a>
        <a class = "hover:text-blue-600 transition zoom-in" href="{% url 'rectum' %}">Rectum Cancer</a>
        <a class = "hover:text-blue-600 transition zoom-in" href="{% url 'endometrium' %}">Endometrium Cancer</a>
        <a class = "hover:text-blue-600 transition zoom-in" href="{% url 'uterus' %}">Uterus & Cervix Cancer</a>
        <a class = "hover:text-blue-600 transition zoom-in" href="{% url 'prostate' %}">Prostate Cancer</a>
    </div>
